<a href="https://colab.research.google.com/github/KapilKhanal/AdvLinearAlgebra/blob/master/Subhas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('siadata_sample.xlsx')

In [ ]:
df.head()

         gud  year       date  ...  financialscore_3ranges currency_code  month_year
0  588202620  2017 2021-03-10  ...                 Medium        1000085      3_2021
1  947251118  2019 2020-11-25  ...                 medium        1000085     11_2020
2  932810810  2017 2020-11-25  ...                    None       1000085     11_2020
3  538637573  2017 2021-01-21  ...                    None       1000085      1_2021
4  584253721  2019 2020-05-18  ...                 medium        1000085      5_2020

[5 rows x 7 columns]

In [ ]:
def replace_fs_pipeline(df):
  '''Param df : The dataframe where columns are replaced and mapped'''
  df = df.copy()
  def replace_fs_three(df):
  #Range(low,high) function generates betwwen low to high -1
    condition_high= {score:'high risk' for score in range(1,11)}
    condition_low = {score: 'medium risk' for score in range(11,21) }
    conditions = {**condition_high,**condition_low}
    df['financialscore_3ranges'] = df['score_filled'].map(lambda x: conditions[x] if x<20 else 'low risk')
    return df
  def replace_fs_seven(df):
    condition_vhr= {score:'VHR' for score in range(0,6)}
    condition_hr = {score: 'HR' for score in range(6,10) }
    condition_mhr = {score: 'MHR' for score in range(10,16) }
    condition_mr = {score: 'MR' for score in range(16,21) }
    condition_mlr = {score: 'MLR' for score in range(21,26) }
    condition_lr = {score: 'LR' for score in range(26,31) }
    #condition_vlr will be mapped as else

    conditions = {**condition_vhr,**condition_hr,
                  **condition_mhr,**condition_mr,
                  **condition_mlr, **condition_lr}
    df['financialscore_7ranges'] = df['score_filled'].map(lambda x: conditions[x] if x<30 else 'VLR')
    return df


  df = replace_fs_three(df)
  df = replace_fs_seven(df)
  return df

          gud  year       date  ...  currency_code month_year  financialscore_7ranges
0   588202620  2017 2021-03-10  ...        1000085     3_2021                     MLR
1   947251118  2019 2020-11-25  ...        1000085    11_2020                      MR
2   932810810  2017 2020-11-25  ...        1000085    11_2020                     VHR
3   538637573  2017 2021-01-21  ...        1000085     1_2021                      HR
4   584253721  2019 2020-05-18  ...        1000085     5_2020                      MR
5   564913338  2017 2021-04-22  ...        1000085     4_2021                     VHR
6   513045407  2020 2021-03-10  ...        1000085     3_2021                     MLR
7   795160584  2019 2020-11-25  ...        1000085    11_2020                      HR
8   289393728  2019 2020-11-25  ...        1000085    11_2021                      HR
9   471566780  2017 2021-01-21  ...        1000085     1_2021                     VHR
10  549608908  2018 2020-05-18  ...        1000085     5_2021                     MLR
11  915960236  2018 2021-04-22  ...        1000085     1_2021                     MHR
12  813675328  2020 2021-03-10  ...        1000085     3_2021                     MHR
13  933325731  2019 2020-11-25  ...        1000054    11_2021                     MHR
14  713307060  2017 2020-11-25  ...        1000054     2_2020                      LR
15  439766113  2017 2021-01-21  ...        1000054     1_2021                     VHR
16  612204786  2017 2020-05-18  ...        1000054     1_2020                      MR
17  468853812  2017 2021-04-22  ...        1000054     4_2021                     VLR
18  917499945  2020 2021-03-10  ...        1000054     3_2021                      MR

[19 rows x 8 columns]