<a href="https://colab.research.google.com/github/KapilKhanal/AdvLinearAlgebra/blob/master/Subhas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_excel('siadata_sample.xlsx')

In [55]:
df.shape

(19, 7)

In [3]:
def replace_fs_pipeline(df):
  '''Param df : The dataframe where columns are replaced and mapped'''
  df = df.copy()
  def replace_fs_three(df):
  #Range(low,high) function generates betwwen low to high -1
    condition_high= {score:'high risk' for score in range(1,11)}
    condition_low = {score: 'medium risk' for score in range(11,21) }
    conditions = {**condition_high,**condition_low}
    df['financialscore_3ranges'] = df['score_filled'].map(lambda x: conditions[x] if x<20 else 'low risk')
    return df
  def replace_fs_seven(df):
    condition_vhr= {score:'VHR' for score in range(0,6)}
    condition_hr = {score: 'HR' for score in range(6,10) }
    condition_mhr = {score: 'MHR' for score in range(10,16) }
    condition_mr = {score: 'MR' for score in range(16,21) }
    condition_mlr = {score: 'MLR' for score in range(21,26) }
    condition_lr = {score: 'LR' for score in range(26,31) }
    #condition_vlr will be mapped as else

    conditions = {**condition_vhr,**condition_hr,
                  **condition_mhr,**condition_mr,
                  **condition_mlr, **condition_lr}
    df['financialscore_7ranges'] = df['score_filled'].map(lambda x: conditions[x] if x<30 else 'VLR')
    return df


  df = replace_fs_three(df)
  df = replace_fs_seven(df)
  return df

In [7]:
gud_df = pd.read_excel("sample.xlsx", sheet_name = 'gud_name' )

In [36]:
gud_name_mapper = dict(zip((gud_df['Supplier GUD'].apply(str)), gud_df['Supplier Name']))

In [27]:
def map_gud_name(df,gud_name_mapper):
  df = df.copy()
  df['gud'] = df['gud'].apply(str)
  try:
    df['Supplier Name'] = df['gud'].map(lambda x : gud_name_mapper[x])
  except:
    pass
  return df

df = map_gud_name(df,gud_name_mapper)
df.head()

         gud  year       date  ...  financialscore_3ranges currency_code  month_year
0  588202620  2017 2021-03-10  ...                 Medium        1000085      3_2021
1  947251118  2019 2020-11-25  ...                 medium        1000085     11_2020
2  932810810  2017 2020-11-25  ...                    None       1000085     11_2020
3  538637573  2017 2021-01-21  ...                    None       1000085      1_2021
4  584253721  2019 2020-05-18  ...                 medium        1000085      5_2020

[5 rows x 7 columns]

In [37]:
cur_df = pd.read_excel("sample.xlsx", sheet_name = 'Currency' )

In [50]:
df.tail()

          gud  year       date  ...  financialscore_3ranges currency_code month_year
14  713307060  2017 2020-11-25  ...                 medium        1000054     2_2020
15  439766113  2017 2021-01-21  ...                 Medium        1000054     1_2021
16  612204786  2017 2020-05-18  ...                 medium        1000054     1_2020
17  468853812  2017 2021-04-22  ...                    None       1000054     4_2021
18  917499945  2020 2021-03-10  ...                    None       1000054     3_2021

[5 rows x 7 columns]

In [45]:
cur_df = cur_df.applymap(str)
df['currency_code'] = df['currency_code'].apply(str)

In [46]:
merged_df = pd.merge(df, cur_df, how='left', left_on=['currency_code'], right_on=['Currency_Code'])

In [54]:

df.shape

(19, 7)