<a href="https://colab.research.google.com/github/KapilKhanal/AdvLinearAlgebra/blob/master/Subhas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_excel('siadata_sample.xlsx')

FileNotFoundError: ignored

In [ ]:
df

          gud  year       date  ...  financialscore_3ranges currency_code  month_year
0   588202620  2017 2021-03-10  ...                 Medium        1000085      3_2021
1   947251118  2019 2020-11-25  ...                 medium        1000085     11_2020
2   932810810  2017 2020-11-25  ...                    None       1000085     11_2020
3   538637573  2017 2021-01-21  ...                    None       1000085      1_2021
4   584253721  2019 2020-05-18  ...                 medium        1000085      5_2020
5   564913338  2017 2021-04-22  ...                 Medium        1000085      4_2021
6   513045407  2020 2021-03-10  ...                 medium        1000085      3_2021
7   795160584  2019 2020-11-25  ...                    None       1000085     11_2020
8   289393728  2019 2020-11-25  ...                    None       1000085     11_2021
9   471566780  2017 2021-01-21  ...                 medium        1000085      1_2021
10  549608908  2018 2020-05-18  ...                 Medium        1000085      5_2021
11  915960236  2018 2021-04-22  ...                 medium        1000085      1_2021
12  813675328  2020 2021-03-10  ...                    None       1000085      3_2021
13  933325731  2019 2020-11-25  ...                    None       1000054     11_2021
14  713307060  2017 2020-11-25  ...                 medium        1000054      2_2020
15  439766113  2017 2021-01-21  ...                 Medium        1000054      1_2021
16  612204786  2017 2020-05-18  ...                 medium        1000054      1_2020
17  468853812  2017 2021-04-22  ...                    None       1000054      4_2021
18  917499945  2020 2021-03-10  ...                    None       1000054      3_2021

[19 rows x 7 columns]

In [ ]:
def replace_fs_pipeline(df):
  '''Param df : The dataframe where columns are replaced and mapped'''
  df = df.copy()
  def replace_fs_three(df):
  #Range(low,high) function generates betwwen low to high -1
    condition_high= {score:'high risk' for score in range(1,11)}
    condition_low = {score: 'medium risk' for score in range(11,21) }
    conditions = {**condition_high,**condition_low}
    df['financialscore_3ranges'] = df['score_filled'].map(lambda x: conditions[x] if x<20 else 'low risk')
    return df
  def replace_fs_seven(df):
    condition_vhr= {score:'VHR' for score in range(0,6)}
    condition_hr = {score: 'HR' for score in range(6,10) }
    condition_mhr = {score: 'MHR' for score in range(10,16) }
    condition_mr = {score: 'MR' for score in range(16,21) }
    condition_mlr = {score: 'MLR' for score in range(21,26) }
    condition_lr = {score: 'LR' for score in range(26,31) }
    #condition_vlr will be mapped as else

    conditions = {**condition_vhr,**condition_hr,
                  **condition_mhr,**condition_mr,
                  **condition_mlr, **condition_lr}
    df['financialscore_7ranges'] = df['score_filled'].map(lambda x: conditions[x] if x<30 else 'VLR')
    return df


  df = replace_fs_three(df)
  df = replace_fs_seven(df)
  return df

In [ ]:
gud_df = pd.read_excel("sample.xlsx", sheet_name = 'gud_name' )

In [ ]:
gud_name_mapper = dict(zip((gud_df['Supplier GUD'].apply(str)), gud_df['Supplier Name']))

In [ ]:
def map_gud_name(df,gud_name_mapper):
  df = df.copy()
  df['gud'] = df['gud'].apply(str)
  try:
    df['Supplier Name'] = df['gud'].map(lambda x : gud_name_mapper[x])
  except:
    pass
  return df

df = map_gud_name(df,gud_name_mapper)
df.head()

         gud  year       date  ...  financialscore_3ranges currency_code  month_year
0  588202620  2017 2021-03-10  ...                 Medium        1000085      3_2021
1  947251118  2019 2020-11-25  ...                 medium        1000085     11_2020
2  932810810  2017 2020-11-25  ...                    None       1000085     11_2020
3  538637573  2017 2021-01-21  ...                    None       1000085      1_2021
4  584253721  2019 2020-05-18  ...                 medium        1000085      5_2020

[5 rows x 7 columns]

In [5]:
cur_df = pd.read_excel("/content/score_df.xlsx", sheet_name = 'Currency' )

XLRDError: ignored

In [ ]:
df.tail()

          gud  year       date  ...  financialscore_3ranges currency_code month_year
14  713307060  2017 2020-11-25  ...                 medium        1000054     2_2020
15  439766113  2017 2021-01-21  ...                 Medium        1000054     1_2021
16  612204786  2017 2020-05-18  ...                 medium        1000054     1_2020
17  468853812  2017 2021-04-22  ...                    None       1000054     4_2021
18  917499945  2020 2021-03-10  ...                    None       1000054     3_2021

[5 rows x 7 columns]

In [ ]:
cur_df = cur_df.applymap(str)
df['currency_code'] = df['currency_code'].apply(str)

In [ ]:
merged_df = pd.merge(df, cur_df, how='left', left_on=['currency_code'], right_on=['Currency_Code'])

In [ ]:
merged = pd.merge(df, repeat_df, how='left', left_on=[''], right_on=[''])

In [ ]:
def map_count(df):
  df = df.copy()
  mapper_count = df.groupby('gud').gud.count()
  mapper_dict = mapper_count.to_dict()
  df['count'] = df['gud'].map(mapper_dict)
  return df

In [26]:
score_df = pd.read_excel('/content/score_df.xlsx')

In [27]:
score_df.columns

Index(['gud ', 'Year ', 'Score_filled'], dtype='object')

In [ ]:
data = [[602654994, 2020,12], [874896522, 2020,16]]
 
# Create the pandas DataFrame
fill_df = pd.DataFrame(data, columns = ['gud ', 'Year','Score_filled'])

In [ ]:
merged_df = pd.merge(score, fill_df, how='left', left_on=['gud '], right_on=['gud '])

In [ ]:
data = [['60265499', 2020,12], ['', 2020,16]]
 
# Create the pandas DataFrame
prepend_df = pd.DataFrame(data, columns = ['gud', 'Year','Score_filled'])

In [ ]:
prepend_df.head()

        gud  Year  Score_filled
0  60265499  2020            12
1            2020            16

In [ ]:
#check string if its 9 digit long
#Assumes gud are string
def is_less_nine(gud):
  if len(gud.strip())>=9:
    return False
  return True
def append(gud):
  if is_less_nine(gud):
    toAppend = 9-len(gud.strip())
    gud = toAppend*'0' +gud
  else:
    pass
  return gud

In [ ]:
prepend_df['gud'] = prepend_df['gud'].apply(lambda x : append(x))

In [ ]:
prepend_df

         gud  Year  Score_filled
0  060265499  2020            12
1  000000000  2020            16

In [68]:
def fill_score(df):
  def repeat_score(df):
    '''takes in df group object- grouped by year and gud'''
    #print(df['Year '])
    latest = df.sort_values(by = 'Year ',ascending = False)['Score_filled'].iloc[0] 
    df['Score_filled'] = latest
    return df
  
  dfs = [repeat_score(v) for k,v in df.groupby(['gud '])]
  return pd.concat(dfs)

In [69]:
fill_score(score_df)

         gud   Year   Score_filled
6   149384375   2020            20
7   149384375   2020            20
8   149384375   2020            20
11  208258057   2019            19
12  208258057   2019            19
13  208258057   2018            19
14  208258057   2018            19
24  246766148   2019            26
25  246766148   2019            26
26  246766148   2019            26
18  254586565   2018            30
19  346589151   2018            25
20  393957958   2018            21
23  430801691   2019            29
15  534897309   2018            18
16  534897309   2018            18
17  534897309   2018            18
22  563036917   2019            16
0   602654994   2020            12
9   694100793   2019            12
10  745288035   2019            16
21  840134414   2019            14
1   874896522   2020            12
2   874896522   2020            12
3   874896522   2020            12
4   874896522   2020            12
5   874896522   2020            12

In [19]:
score_df['Year '].sort_values(ascending = False)[0]

2020